<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kouveepetshopapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kouveepetshoplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kouveepetshoplogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".adapter.EditTransaksiProdukAdapter"></activity>
        <activity android:name=".transaksi.produk.EditTransaksiProdukActivity" />
        <activity android:name=".adapter.DetailTransaksiProdukAdapter" />
        <activity android:name=".transaksi.produk.TampilDetailTransaksiProdukActivity" />
        <activity android:name=".adapter.TambahTransaksiProdukAdapter" />
        <activity android:name=".transaksi.produk.TambahTransaksiProdukActivity" />
        <activity android:name=".adapter.TransaksiProdukAdapter" />
        <activity android:name=".transaksi.layanan.TransaksiLayananDiprosesFragment" />
        <activity android:name=".transaksi.layanan.TransaksiLayananSelesaiFragment" />
        <activity android:name=".transaksi.layanan.TransaksiLayananFragment" />
        <activity android:name=".transaksi.produk.ListTransaksiProdukFragment" />
        <activity android:name=".navigation.ProfilCsFragment" />
        <activity android:name=".adapter.HewanAdapter" />
        <activity android:name=".hewan.ListHewanFragment">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".adapter.TambahLayananAdapter" />
        <activity android:name=".layanan.TambahLayananActivity" />
        <activity android:name=".adapter.HargaLayananAdapter" />
        <activity android:name=".layanan.TampilDetailLayananActivity" />
        <activity android:name=".adapter.LayananAdapter" />
        <activity android:name=".layanan.ListLayananActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".produk.TambahProdukActivity" />
        <activity android:name=".produk.TampilDetailProdukActivity" />
        <activity android:name=".produk.ListProdukActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".hewan.TambahHewanActivity" />
        <activity android:name=".hewan.TampilDetailHewanFragment" />
        <activity android:name=".jenishewan.ListJenisHewanActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".jenishewan.TambahJenisHewanActivity" />
        <activity android:name=".jenishewan.EditJenisHewanActivity" />
        <activity android:name=".jenishewan.TampilDetailJenisHewanActivity" />
        <activity android:name=".ukuran_hewan.TampilDetailUkuranHewanActivity" />
        <activity android:name=".ukuran_hewan.TambahUkuranHewanActivity" />
        <activity android:name=".ukuran_hewan.EditUkuranHewanActivity" />
        <activity android:name=".adapter.UkuranHewanAdapter" />
        <activity android:name=".ukuran_hewan.ListUkuranHewanActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".supplier.TambahSupplierActivity" />
        <activity android:name=".supplier.EditSupplierActivity" />
        <activity android:name=".supplier.TampilDetailSupplierActivity" />
        <activity android:name=".adapter.SupplierAdapter" />
        <activity android:name=".supplier.ListSupplierActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".pelanggan.TambahPelangganActivity" />
        <activity android:name=".pelanggan.TampilDetailPelangganFragment" />
        <activity android:name=".adapter.PelangganAdapter" />
        <activity android:name=".pelanggan.ListPelangganFragment" />
        <activity android:name=".transaksi.TransaksiFragment" />
        <activity android:name=".navigation.CsMainMenu" />
        <activity android:name=".NotificationFragment" />
        <activity android:name=".StockUpdateFragment" />
        <activity android:name=".navigation.AdminMainMenu" />
        <activity android:name=".navigation.AdminManagePageFragment" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>